@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

Card {
  display: grid;
  flex-wrap: wrap;
}

.move-container {
  justify-content: center;
}

.package-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.home-font {
  font-family: 'Allison', cursive;
  font-weight: 600;
}
.home-name {
  font-family: 'Allison', cursive;
  font-weight: 600;
  display: flex;
  justify-content: center;
}